{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Add Document{% endblock %}

{% block content %}

<h1>Add Document</h1>

{% if message %}
    <h3> {{ message }} </h3>
{% endif%}



<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <div id="form-document"></div>
    {{ form|crispy }}


    <input type="submit" class="btn btn-outline-success " value="Create">
</form>
              
              <div class="modal fade" id="addWorkFlowModal" tabindex="-1" role="dialog" aria-labelledby="addWorkFlowModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Document Type Form</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    
                    <div class="modal-body">
                       <div class="form-group">
                          <div class="row">
                            <label for="documentType-title" class="form-label col-md-5">Document Type Title
                              <span class="asteriskField">*</span></label>
                            <input autofocus="true" type="text" class="form-control col-md-6" id="documentType-title"  required>
                          </div>
                          <small id="docTypeFieldError" class="text-danger"></small>
                        </div>

                        {% for wf in workflow %}
                                <div class="mb-3">                 
                                      <div class="form-group text-center">
                                        <h4 class="text-info">{{ wf|title }} Work Flow</h4>
                                      </div>

                                        <table class="table table-sm table-hover table-dark">
                                          <thead>
                                            <tr>
                                              <th scope="col"><small>Step No.</small></th>
                                              <th scope="col"><small>Step Name</small></th>
                                              <th scope="col"><small>Authority</small></th>
                                              <th scope="col"></th>
                                            </tr>
                                          </thead>
                                          <tbody id="{{wf}}_table">
                                            <td colspan="4" class="text-center">
                                                No Steps.
                                            </td>                                           
                                          </tbody>
                                        </table>
                                        <div class="form-row" id="step-form">
                                          <div class="col-md-5 mb-3">
                                            <label for="{{ wf }}StepName" class="col-form-label-sm">Step Name</label>
                                            <input type="text" class="form-control form-control-sm" id="{{ wf }}StepName" placeholder="Step Name" required>
                                          </div>
                                          <div class="col-md-5 mb-3">
                                            <label for="authorityID" class="col-form-label-sm">Authority</label>
                                            <select id="{{ wf }}authorityID" class="form-control form-control-sm">
                                              <option selected>None</option>
                                              {% for user in user_list %}
                                                      <option>{{ user.username }}</option>
                                              {% empty %}
                                                  <option>None</option>
                                              {% endfor %}
                                            </select>
                                          </div>
                                          <div class="col-md-2 mb-3 d-flex justify-content-center align-items-center">
                                            <a class="btn btn-primary" id="add_{{wf}}_step">Add</a>
                                          </div>
                                        </div>
                                        <small class="text-danger" id="{{wf}}_step_form_error"></small>
                                                                      
                              </div>
                 {% endfor %}
              
              <div class="modal-footer">
                <a class="btn btn-outline-danger" data-dismiss="modal" id="close-modal">Cancel</a>
                <a class="btn btn-outline-success" id="addDocumentType">Add Document Type</a>
              </div>
              </div>
            </div>
          </div>
        </div>


<script type="text/javascript">

        const add_button = document.createElement('a');

        add_button.innerHTML = "Add New";
        add_button.className = "btn btn-link";
        add_button.id = "addDocTypeBtn";
        add_button.style.float = 'right';

        add_button.setAttribute("data-toggle", "modal");
        add_button.setAttribute("data-target", "#addWorkFlowModal")

        const divElement = document.createElement('div');
        divElement.className = "d-flex flex-row justify-content-around mt-3 text-muted rounded bg-secondary";
        divElement.id = 'workflow-container';

        const form = document.getElementById('div_id_document_type');
        form.insertBefore(add_button, form.childNodes[2]);

        form.append(divElement)

        //for workflow form Elements script

        const internalWFList = [];
        const externalWFList = [];

        const addInternalStep = document.getElementById('add_internal_step');
        const addExternalStep = document.getElementById('add_external_step');


        const createRowInTable = (item, list, table) => {
            const tr = document.createElement('tr');
            const th = document.createElement('th');
            th.setAttribute("scope", "row");
            th.innerHTML = list.indexOf(item) + 1;
            const td1 = document.createElement('td');
            td1.innerHTML = item.name;
            const td2 = document.createElement('td');
            td2.innerHTML = item.authority;
            const td3 = document.createElement('td');

            const rm_link = document.createElement('a');
            rm_link.className = "btn btn-outline-danger btn-sm remove_btn";
            rm_link.innerHTML = 'Remove';

            td3.append(rm_link);

            tr.append(th)
            tr.append(td1)
            tr.append(td2);
            tr.append(td3)
            table.append(tr);
          }

        function submit_step(list, type=""){
            document.getElementById( type + '_step_form_error' ).innerHTML = '';
            document.getElementById( type + 'StepName').style.borderColor = 'initial';
            document.getElementById(type + 'authorityID').style.borderColor = 'initial';

            const stepObj = {
                name: document.getElementById( type + 'StepName').value,
                authority: document.getElementById(type + 'authorityID').value
            }

            document.getElementById( type + 'StepName').value = ''
            document.getElementById(type + 'authorityID').value = "None"

            if((stepObj.name === '') || (stepObj.authority === "None")){
                document.getElementById( type + '_step_form_error' ).innerHTML = 'Both fields are required.';
                document.getElementById( type + 'StepName').style.borderColor = '#d00';
                document.getElementById(type + 'authorityID').style.borderColor = '#d00';

            } else {
                
                let found =  list.find(item => (item.name === stepObj.name) && (item.authority === stepObj.authority)
                );

                if (found === undefined ){
                    list.push(stepObj);
                    const listElement = document.getElementById(type + '_table');
                    listElement.innerHTML = ''

                    list.map((item, index, list) => createRowInTable(item, list, listElement));  
                } else {

                  document.getElementById( type + '_step_form_error' ).innerHTML = 'Already added.'

                }

            }

            function addListenerAfterRemove(){
              document.querySelectorAll('.remove_btn').forEach(item => {
                item.addEventListener('click', event => {
                  let found =  list.find(item => (item.name === event.target.parentNode.childNodes[1].innerHTML) && (item.authority === event.target.parentNode.childNodes[2].innerHTML)
                  );

                  const removedElement = list.splice(list.indexOf(found), 1);
                  const listElement = document.getElementById(type + '_table');
                  listElement.innerHTML = '';

                  if ( list.length === 0 ){
                    const td = document.createElement('td');
                    td.setAttribute("colspan", 4);
                    td.className = "text-center";
                    td.innerHTML = "No Steps";
                    listElement.append(td);
                  } else {
                    list.map((item, index, list) => createRowInTable(item, list, listElement));
                    addListenerAfterRemove();
                  }                 
                })
              });              
            }

            addListenerAfterRemove();                  
                      
        }

        const disableButton = (btn) => {  btn.disabled = true;   btn.style.opacity = '0.5'; };
        const enableButton = (btn) => {  btn.disabled = false;   btn.style.opacity = '1';   };

        addInternalStep.onclick = function(e){
          disableButton(addInternalStep);
          submit_step( internalWFList, type="internal");
          enableButton(addInternalStep) ;
        } 
        addExternalStep.onclick = function(e){
          disableButton(addInternalStep);
          submit_step(externalWFList, type="external");
          enableButton(addInternalStep);  
        } 


        
        // submit button on Document Type form
        const addDocumentType = document.getElementById('addDocumentType');
        addDocumentType.onclick = function(e){
          document.getElementById('documentType-title').style.borderColor = 'initial';

          if(!document.getElementById('documentType-title').value){
            document.getElementById('docTypeFieldError').innerHTML = "This field is required.";
            document.getElementById('documentType-title').style.borderColor = "#d00";
            //if document title is empty.
          } else {
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;


            const createDocumentTypeRequest = new Request('/workflow/create-document-type/', {headers: {'X-CSRFToken': csrftoken}} );

            requestBody = {
              title: document.getElementById('documentType-title').value,
              internal: internalWFList,
              external: externalWFList
            }

            document.getElementById('documentType-title').value = '';

            fetch(createDocumentTypeRequest, {
                method: 'POST',
                mode: 'same-origin',
                body: JSON.stringify(requestBody)
            }).then(async function(response) {
                const documentTypeObject = await response.json();

                document.getElementById('close-modal').click();
                
                const option = document.createElement('option');
                option.setAttribute('value', documentTypeObject.id);
                option.innerHTML = documentTypeObject.title;

                const selectField = document.getElementById('id_document_type');
                selectField.append(option);
                selectField.value = option.value;

            });

          }
        }

        const selectField = document.getElementById('id_document_type');

        selectField.onchange = function(e){
          const getDocumentTypeRequest = new Request('/workflow/detail-document-type/'+ selectField.value );

            fetch(getDocumentTypeRequest, {
                method: 'GET'
            }).then(async function(response) {
                const documentTypeObject = await response.json();
                console.log(documentTypeObject);

                const containerElement = document.getElementById('workflow-container');
                containerElement.innerHTML = '';
                const orderedListOne = document.createElement('ol');
                orderedListOne.innerHTML = "Internal Work Flow ";

                for (step of documentTypeObject.internal_work_flow.steps){
                  const li = document.createElement('li');
                  li.innerHTML = step.name + ' - ' + step.authority;

                  orderedListOne.append(li);
                }
                containerElement.append(orderedListOne);

                const orderedListTwo = document.createElement('ol');
                orderedListTwo.innerHTML = "External Work Flow ";

                for (step of documentTypeObject.external_work_flow.steps){
                  const li = document.createElement('li');
                  li.innerHTML = step.name + ' - ' + step.authority;

                  orderedListTwo.append(li);
                }

                containerElement.append(orderedListTwo);
            });
          
        }



</script>





{% endblock %}
