{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Documents{% endblock %}

{% block content %}

{% if message %}
    <h3> {{ message }} </h3>
{% endif%}

<h1>Documents List</h1>
<ul class="list-unstyled">
{% for document in object_list %}
    <li>{{ document.document_name }} - Internal({{ document.internal_status }}) , External({{ document.external_status }}) <a href="{% url 'workflow:verify-document' document.id %}">Sign It</a></li>
{% empty %}
    <li>No articles yet.</li>
{% endfor %}
</ul>


{% endblock %}
